.sectiontitle {
	margin-top: 30px !important;
	color: #0262cf !important;
	font-family: "Montserrat", sans-serif !important;
	font-size: 26px !important;
	font-weight: 400 !important;
}

.sectionsubtitle {
	margin-top: -10px !important;
	margin-bottom: 25px !important;
	color: #666666 !important;
	font-family: "Montserrat", sans-serif !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic !important;
}

.insidetitle {
	color: #0262cf !important;
	font-family: "Montserrat", sans-serif !important;
	font-size: 20px !important;
	font-weight: 400 !important;
}

.insidesubtitle {
	color: #0262cf !important;
	font-family: "Montserrat", sans-serif !important;
	font-size: 18px !important;
	font-weight: 400 !important;
}

.textprimary {
	color: #666666 !important;
	font-family: "Montserrat", sans-serif !important;
	font-size: 14px !important;
	font-weight: 600 !important;
}

.textsecondary {
	color: #666666 !important;
	font-family: "Montserrat", sans-serif !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	margin-bottom: 15px;
}

.buttonprimary {
	background-color: #0262cf !important;
	padding: 8px 45px 32px 45px !important;
	border-radius: 5px !important;
	border-color: transparent !important;
	color: #ffffff !important;
	font-family: "Montserrat", sans-serif !important;
	font-size: 16px !important;
	font-weight: 400 !important;
}