.container {
  display: flex;
  height: 100%;
}

.leftImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightColumn {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 130px;
}

.content {
  width: 100%;
}
